<script setup lang="ts">
import { ConnectionState, useConnectionStore } from "../store";

const connStore = useConnectionStore();

const messages = {
  [ConnectionState.None]: "Doing nothing!",
  [ConnectionState.Connecting]: "Connecting",
  [ConnectionState.Authenticate]: "Authenticating",
  [ConnectionState.Bind]: "Binding",
  [ConnectionState.SetUpOMEMO]: "Initializing OMEMO",
  [ConnectionState.FetchRoster]: "Fetching the roster",
  [ConnectionState.Done]: "Done!",
  [ConnectionState.Error]: "Oops!",
};
</script>

<template>
  <div
    class="h-screen bg-primary text flex flex-col items-center justify-center space-y-6"
  >
    <div
      class="w-16 h-16 border-4 rounded-full border-black/25 border-t-white/50 animate-spin"
    ></div>
    <div>{{ messages[connStore.state] }}</div>
  </div>
</template>
